In [84]:
import pandas as pd

In [85]:
import numpy as np

In [86]:
import re

In [87]:
train=pd.read_csv('washed_train.csv',sep=',')

In [88]:
train['A20'].apply(lambda x:re.findall('\d+',x))

0       [15, 00, 15, 30]
1       [18, 30, 19, 00]
2       [11, 30, 12, 00]
3       [20, 30, 21, 00]
4        [10, 30, 11, 0]
5       [11, 50, 12, 20]
6       [14, 00, 14, 30]
7       [16, 00, 16, 30]
8         [1, 00, 1, 30]
9       [15, 30, 16, 00]
10        [0, 30, 1, 00]
11      [19, 30, 20, 00]
12        [6, 30, 7, 00]
13      [15, 30, 16, 30]
14        [1, 00, 1, 30]
15      [20, 30, 21, 00]
16        [6, 30, 7, 00]
17      [12, 00, 12, 30]
18      [19, 00, 19, 30]
19      [16, 00, 16, 30]
20        [3, 00, 3, 30]
21      [20, 00, 20, 30]
22      [16, 00, 16, 30]
23        [1, 00, 1, 30]
24      [11, 00, 11, 30]
25      [20, 00, 21, 30]
26        [6, 30, 7, 00]
27        [0, 30, 1, 00]
28        [7, 20, 7, 50]
29      [12, 20, 12, 50]
              ...
1356    [11, 00, 12, 00]
1357    [19, 00, 20, 00]
1358      [2, 00, 3, 00]
1359    [19, 00, 20, 00]
1360    [11, 00, 12, 00]
1361      [2, 00, 3, 00]
1362    [11, 00, 12, 00]
1363      [2, 00, 3, 00]
1364    [11, 00, 12, 00]
1365      [2, 00, 3, 00]
1366    [11, 00, 12, 00]
1367    [19, 00, 20, 00]
1368      [2, 00, 3, 00]
1369    [19, 00, 20, 00]
1370      [2, 00, 3, 00]
1371    [11, 00, 12, 00]
1372      [2, 00, 3, 00]
1373    [11, 00, 12, 00]
1374    [19, 00, 20, 00]
1375      [2, 00, 3, 00]
1376    [19, 00, 20, 00]
1377    [11, 00, 12, 00]
1378      [2, 00, 3, 00]
1379    [11, 00, 12, 00]
1380    [12, 30, 13, 30]
1381    [11, 00, 12, 00]
1382      [2, 00, 3, 00]
1383    [11, 00, 12, 00]
1384    [19, 00, 20, 00]
1385      [2, 00, 3, 00]
Name: A20, Length: 1386, dtype: object

In [89]:
def get_duration(vt):
    ct=str(vt)
    if len(re.findall('.+-.+',ct))>0:
        serial=re.findall('\d+',ct)
        for x in range(0,len(serial)):
            serial[x]=int(serial[x])
        if len(serial)==3:
            serial.append(0)
        if serial[0]>serial[2]:
            serial[2]=serial[2]+24
        return (serial[2]-serial[0])*60+serial[3]-serial[1]
    else:
        return vt

In [90]:
pde=train.applymap(get_duration)

In [92]:
pde.head(12)

,样本id,A1,A2,A3,A4,A5,A6,A7,A8,A9,...,B6,B7,B8,B9,B10,B11,B12,B13,B14,收率
0,1,300,NaN,405.0,700,6:30:00,25.0,NaN,NaN,8:00:00,...,60,4:30:00,40.0,90,90.0,NaN,800.0,0.15,400,0.900
1,4,300,NaN,405.0,700,14:00:00,24.0,NaN,NaN,15:30:00,...,60,12:00:00,40.0,90,30.0,NaN,800.0,0.15,400,0.896
2,8,300,NaN,405.0,700,3:30:00,21.0,NaN,NaN,5:00:00,...,58,0:30:00,40.0,90,90.0,NaN,800.0,0.15,420,0.930
3,9,300,NaN,405.0,700,15:00:00,21.0,NaN,NaN,16:00:00,...,59,12:00:00,40.0,90,60.0,NaN,800.0,0.15,420,0.935
4,11,300,NaN,405.0,700,6:00:00,20.0,NaN,NaN,7:30:00,...,60,3:30:00,40.0,90,90.0,NaN,800.0,0.15,420,0.923
5,13,300,NaN,405.0,700,3:30:00,21.0,NaN,NaN,5:00:00,...,60,0:00:00,40.0,90,90.0,NaN,800.0,0.15,420,0.923
6,14,300,NaN,405.0,700,13:00:00,23.0,NaN,NaN,14:30:00,...,65,10:00:00,40.0,150,90.0,NaN,800.0,0.15,420,0.923
7,16,300,NaN,405.0,700,7:00:00,24.0,NaN,NaN,8:00:00,...,65,8:00:00,40.0,90,90.0,NaN,800.0,0.15,420,0.923
8,17,300,NaN,405.0,700,19:00:00,23.0,NaN,NaN,20:30:00,...,60,16:00:00,40.0,90,90.0,NaN,800.0,0.15,400,0.879
9,21,300,NaN,405.0,700,8:30:00,24.0,NaN,NaN,9:00:00,...,60,4:00:00,40.0,90,90.0,NaN,800.0,0.15,400,0.891
10,22,300,NaN,405.0,700,17:00:00,24.0,NaN,NaN,18:30:00,...,60,16:00:00,40.0,90,90.0,NaN,800.0,0.15,400,0.879
11,24,300,NaN,405.0,700,14:00:00,21.0,NaN,NaN,15:30:00,...,65,12:00:00,40.0,90,90.0,NaN,800.0,0.15,400,0.879

In [93]:
pde.to_csv('washed2_train.csv',sep=',',index=0)

In [94]:
test=pd.read_csv('new_test.csv',sep=',')

In [96]:
test.head(5)

,样本id,A1,A2,A3,A4,A5,A6,A7,A8,A9,...,B5,B6,B7,B8,B9,B10,B11,B12,B13,B14
0,15,300,NaN,405.0,700,21:00:00,24,NaN,NaN,22:30:00,...,17:00:00,60,20:30:00,45,20:30-22:00,23:00-0:00,NaN,800,0.15,420
1,23,300,NaN,405.0,700,5:00:00,24,NaN,NaN,6:30:00,...,20:30:00,60,2:00:00,40,3:00-4:30,5:00-6:30,NaN,800,0.15,400
2,35,300,NaN,405.0,700,22:00:00,21,NaN,NaN,23:00:00,...,17:00:00,65,22:00:00,40,22:30-0:00,0:30-2:00,NaN,800,0.15,440
3,48,300,NaN,405.0,700,7:00:00,24,NaN,NaN,8:00:00,...,20:00:00,60,23:00:00,40,0:30-2:30,3:00-4:30,NaN,800,0.15,420
4,49,300,NaN,405.0,700,22:00:00,20,NaN,NaN,23:00:00,...,6:00:00,67,7:30:00,45,7:30-9:00,9:30-11:00,NaN,800,0.15,400

In [97]:
tte=test.applymap(get_duration)

In [99]:
tte.to_csv('duration_test.csv',sep=',',index=0)