In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('washed2_train.csv',sep=',')

In [3]:
len(df)

1386

In [10]:
df=df.fillna(0)

In [11]:
df.to_csv('fill_zero_train.csv',sep=',',index=0)

In [12]:
df1=pd.read_csv('duration_test.csv',sep=',')

In [13]:
df1.head(2)

,样本id,A1,A2,A3,A4,A5,A6,A7,A8,A9,...,B5,B6,B7,B8,B9,B10,B11,B12,B13,B14
0,15,300,NaN,405.0,700,21:00:00,24,NaN,NaN,22:30:00,...,17:00:00,60,20:30:00,45,90,60.0,NaN,800,0.15,420
1,23,300,NaN,405.0,700,5:00:00,24,NaN,NaN,6:30:00,...,20:30:00,60,2:00:00,40,90,90.0,NaN,800,0.15,400

In [14]:
df1=df1.fillna(0)

In [15]:
df1.head(2)

,样本id,A1,A2,A3,A4,A5,A6,A7,A8,A9,...,B5,B6,B7,B8,B9,B10,B11,B12,B13,B14
0,15,300,0.0,405.0,700,21:00:00,24,0,0.0,22:30:00,...,17:00:00,60,20:30:00,45,90,60.0,0.0,800,0.15,420
1,23,300,0.0,405.0,700,5:00:00,24,0,0.0,6:30:00,...,20:30:00,60,2:00:00,40,90,90.0,0.0,800,0.15,400

In [16]:
df1.to_csv('fill_zero_test.csv',sep=',',index=0)