In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
train=pd.read_csv('new_train.csv',sep=',')

In [4]:
train.rename({'Unnamed: 44':'C1','Unnamed: 45':'C2','Unnamed: 46':'C3','Unnamed: 47':'C4'},inplace=True,axis=1)

In [5]:
cols=train.columns

In [6]:
train.head(2)

,样本id,A1,A2,A3,A4,A5,A6,A7,A8,A9,...,B10,B11,B12,B13,B14,收率,C1,C2,C3,C4
0,1,300,NaN,405.0,700,6:30:00,25.0,NaN,NaN,8:00:00,...,10:00-11:30,NaN,800,0.15,400,0.900,NaN,NaN,NaN,NaN
1,4,300,NaN,405.0,700,14:00:00,24.0,NaN,NaN,15:30:00,...,14:30-15:00,NaN,800,0.15,400,0.896,NaN,NaN,NaN,NaN

In [8]:
cols[32]

'B4'

In [9]:
cols[33]

'B5'

In [10]:
cols[44]

'C1'

In [22]:
train.iloc[599][0]

861

In [23]:
cols[21]

'A21'

In [33]:
val=[]
for num in range(33,48):
    val.append(train.iloc[599][num])

In [34]:
val[0:5]

['30', '17:30:00', '60', '20:00:00', '40']

In [35]:
for num in range(0,len(val)):
    train.iloc[599][23+num]=val[num]

/home/zerk/miniconda3/envs/tf/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [16]:
s1=pd.DataFrame({'a':[1,2,3],'b':[3,4,5]})

In [17]:
s1

   a  b
0  1  3
1  2  4
2  3  5

In [18]:
s1.iloc[1][1]=s1.iloc[0][0]

In [19]:
s1

   a  b
0  1  3
1  2  1
2  3  5

In [81]:
df[600:700]

TypeError: 'NoneType' object is not subscriptable